In [1]:
import findspark

In [2]:
findspark.init()

In [3]:
import pyspark

In [4]:
sc = pyspark.SparkContext(appName = "A2")

In [5]:
sc

In [6]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [7]:
#creating spark session
spark = SparkSession.builder.getOrCreate()

In [13]:
df = spark.read.csv("D:/Data Science/Pyspark/ecommerce_data.csv", header = "True")

In [14]:
df.show()

+---------+---------+--------------------+--------+----------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|     InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+----------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12-01-2010 08:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12-01-2010 08:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12-01-2010 08:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12-01-2010 08:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12-01-2010 08:26|     3.39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12-01-2010 08:26|     7.65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|12-01-2010 08:26|     4.25|     17850|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|12-01-2010 08:28|     1.85|     17850|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|12-01-2010 08:28|     1.85|     17850|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|12-01-2010 08:34|     1.69|     13047|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|12-01-2010 08:34|      2.1|     13047|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|12-01-2010 08:34|      2.1|     13047|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8|12-01-2010 08:34|     3.75|     13047|United Kingdom|
|   536367|    22310|IVORY KNITTED MUG...|       6|12-01-2010 08:34|     1.65|     13047|United Kingdom|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|12-01-2010 08:34|     4.25|     13047|United Kingdom|
|   536367|    22623|BOX OF VINTAGE JI...|       3|12-01-2010 08:34|     4.95|     13047|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|12-01-2010 08:34|     9.95|     13047|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|12-01-2010 08:34|     5.95|     13047|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|12-01-2010 08:34|     5.95|     13047|United Kingdom|
|   536367|    21777|RECIPE BOX WITH M...|       4|12-01-2010 08:34|     7.95|     13047|United Kingdom|
+---------+---------+--------------------+--------+----------------+---------+----------+--------------+
only showing top 20 rows

In [16]:
# different filter options 

# filter by price
df.filter(df['UnitPrice'] > 5.0).show()

+---------+---------+--------------------+--------+----------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|     InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+----------------+---------+----------+--------------+
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12-01-2010 08:26|     7.65|     17850|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|12-01-2010 08:34|     9.95|     13047|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|12-01-2010 08:34|     5.95|     13047|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|12-01-2010 08:34|     5.95|     13047|United Kingdom|
|   536367|    21777|RECIPE BOX WITH M...|       4|12-01-2010 08:34|     7.95|     13047|United Kingdom|
|   536367|    48187| DOORMAT NEW ENGLAND|       4|12-01-2010 08:34|     7.95|     13047|United Kingdom|
|   536369|    21756|BATH BUILDING BLO...|       3|12-01-2010 08:35|     5.95|     13047|United Kingdom|
|   536370|     POST|             POSTAGE|       3|12-01-2010 08:45|       18|     12583|        France|
|   536373|    82486|WOOD S/3 CABINET ...|       4|12-01-2010 09:02|     6.95|     17850|United Kingdom|
|   536373|    22752|SET 7 BABUSHKA NE...|       2|12-01-2010 09:02|     7.65|     17850|United Kingdom|
|   536374|    21258|VICTORIAN SEWING ...|      32|12-01-2010 09:09|    10.95|     15100|United Kingdom|
|   536375|    82486|WOOD S/3 CABINET ...|       4|12-01-2010 09:32|     6.95|     17850|United Kingdom|
|   536375|    22752|SET 7 BABUSHKA NE...|       2|12-01-2010 09:32|     7.65|     17850|United Kingdom|
|   536381|  15056BL|EDWARDIAN PARASOL...|       2|12-01-2010 09:41|     5.95|     15311|United Kingdom|
|   536381|   15056N|EDWARDIAN PARASOL...|       2|12-01-2010 09:41|     5.95|     15311|United Kingdom|
|   536381|    21523|DOORMAT FANCY FON...|      10|12-01-2010 09:41|     6.75|     15311|United Kingdom|
|  C536379|        D|            Discount|      -1|12-01-2010 09:41|     27.5|     14527|United Kingdom|
|   536382|    22926|IVORY GIANT GARDE...|      12|12-01-2010 09:45|     5.95|     16098|United Kingdom|
|   536382|    22839|3 TIER CAKE TIN G...|       2|12-01-2010 09:45|    14.95|     16098|United Kingdom|
|   536382|    22838|3 TIER CAKE TIN R...|       2|12-01-2010 09:45|    14.95|     16098|United Kingdom|
+---------+---------+--------------------+--------+----------------+---------+----------+--------------+
only showing top 20 rows

In [17]:
# filter by country

df.filter(df['Country'] == 'France').show()

+---------+---------+--------------------+--------+----------------+---------+----------+-------+
|InvoiceNo|StockCode|         Description|Quantity|     InvoiceDate|UnitPrice|CustomerID|Country|
+---------+---------+--------------------+--------+----------------+---------+----------+-------+
|   536370|    22728|ALARM CLOCK BAKEL...|      24|12-01-2010 08:45|     3.75|     12583| France|
|   536370|    22727|ALARM CLOCK BAKEL...|      24|12-01-2010 08:45|     3.75|     12583| France|
|   536370|    22726|ALARM CLOCK BAKEL...|      12|12-01-2010 08:45|     3.75|     12583| France|
|   536370|    21724|PANDA AND BUNNIES...|      12|12-01-2010 08:45|     0.85|     12583| France|
|   536370|    21883|    STARS GIFT TAPE |      24|12-01-2010 08:45|     0.65|     12583| France|
|   536370|    10002|INFLATABLE POLITI...|      48|12-01-2010 08:45|     0.85|     12583| France|
|   536370|    21791|VINTAGE HEADS AND...|      24|12-01-2010 08:45|     1.25|     12583| France|
|   536370|    21035|SET/2 RED RETROSP...|      18|12-01-2010 08:45|     2.95|     12583| France|
|   536370|    22326|ROUND SNACK BOXES...|      24|12-01-2010 08:45|     2.95|     12583| France|
|   536370|    22629| SPACEBOY LUNCH BOX |      24|12-01-2010 08:45|     1.95|     12583| France|
|   536370|    22659|LUNCH BOX I LOVE ...|      24|12-01-2010 08:45|     1.95|     12583| France|
|   536370|    22631|CIRCUS PARADE LUN...|      24|12-01-2010 08:45|     1.95|     12583| France|
|   536370|    22661|CHARLOTTE BAG DOL...|      20|12-01-2010 08:45|     0.85|     12583| France|
|   536370|    21731|RED TOADSTOOL LED...|      24|12-01-2010 08:45|     1.65|     12583| France|
|   536370|    22900| SET 2 TEA TOWELS...|      24|12-01-2010 08:45|     2.95|     12583| France|
|   536370|    21913|VINTAGE SEASIDE J...|      12|12-01-2010 08:45|     3.75|     12583| France|
|   536370|    22540|MINI JIGSAW CIRCU...|      24|12-01-2010 08:45|     0.42|     12583| France|
|   536370|    22544|MINI JIGSAW SPACEBOY|      24|12-01-2010 08:45|     0.42|     12583| France|
|   536370|    22492|MINI PAINT SET VI...|      36|12-01-2010 08:45|     0.65|     12583| France|
|   536370|     POST|             POSTAGE|       3|12-01-2010 08:45|       18|     12583| France|
+---------+---------+--------------------+--------+----------------+---------+----------+-------+
only showing top 20 rows

In [18]:
# filter by invoice date 

from pyspark.sql.functions import to_date

df = df.withColumn("InvoiceDate", to_date(df["InvoiceDate"], "dd-MM-yyyy HH:mm"))
df.filter(df['InvoiceDate'] > '2010-12-01').show()

+---------+---------+--------------------+--------+-----------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-----------+---------+----------+--------------+
|   538365|    22469|HEART OF WICKER S...|       8| 2010-12-12|     1.65|     17243|United Kingdom|
|   538365|   84030E|ENGLISH ROSE HOT ...|       1| 2010-12-12|     4.25|     17243|United Kingdom|
|   538365|    22112|CHOCOLATE HOT WAT...|       3| 2010-12-12|     4.95|     17243|United Kingdom|
|   538365|    22835|HOT WATER BOTTLE ...|       5| 2010-12-12|     4.65|     17243|United Kingdom|
|   538365|   84029E|RED WOOLLY HOTTIE...|       4| 2010-12-12|     3.75|     17243|United Kingdom|
|   538365|   84029G|KNITTED UNION FLA...|       9| 2010-12-12|     3.75|     17243|United Kingdom|
|   538365|   84030E|ENGLISH ROSE HOT ...|       3| 2010-12-12|     4.25|     17243|United Kingdom|
|   538365|    22111|SCOTTIE DOG HOT W...|       2| 2010-12-12|     4.95|     17243|United Kingdom|
|   538365|   84997A|GREEN 3 PIECE POL...|       4| 2010-12-12|     3.75|     17243|United Kingdom|
|   538365|   84997B|RED 3 PIECE RETRO...|       3| 2010-12-12|     3.75|     17243|United Kingdom|
|   538365|   84997C|BLUE 3 PIECE POLK...|       9| 2010-12-12|     3.75|     17243|United Kingdom|
|   538365|    22314|OFFICE MUG WARMER...|      12| 2010-12-12|     2.95|     17243|United Kingdom|
|   538365|    22932|BAKING MOULD TOFF...|       8| 2010-12-12|     2.55|     17243|United Kingdom|
|   538365|    22930|BAKING MOULD HEAR...|       8| 2010-12-12|     2.55|     17243|United Kingdom|
|   538365|   17091A|LAVENDER INCENSE ...|       6| 2010-12-12|     1.25|     17243|United Kingdom|
|   538365|   17091J|VANILLA INCENSE I...|       6| 2010-12-12|     1.25|     17243|United Kingdom|
|   538365|    21755|LOVE BUILDING BLO...|       2| 2010-12-12|     5.95|     17243|United Kingdom|
|   538365|    21755|LOVE BUILDING BLO...|       2| 2010-12-12|     5.95|     17243|United Kingdom|
|   538365|    82483|WOOD 2 DRAWER CAB...|       6| 2010-12-12|     5.95|     17243|United Kingdom|
|   538365|    21034|REX CASH+CARRY JU...|       1| 2010-12-12|     0.95|     17243|United Kingdom|
+---------+---------+--------------------+--------+-----------+---------+----------+--------------+
only showing top 20 rows

In [19]:
# selecting unique records 

df.dropDuplicates(["InvoiceNo", "StockCode"]).show()

+---------+---------+--------------------+--------+-----------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-----------+---------+----------+--------------+
|   536367|    21754|HOME BUILDING BLO...|       3| 2010-01-12|     5.95|     13047|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8| 2010-01-12|     3.75|     13047|United Kingdom|
|   536368|    22913|RED COAT RACK PAR...|       3| 2010-01-12|     4.95|     13047|United Kingdom|
|   536370|    21724|PANDA AND BUNNIES...|      12| 2010-01-12|     0.85|     12583|        France|
|   536370|    22540|MINI JIGSAW CIRCU...|      24| 2010-01-12|     0.42|     12583|        France|
|   536373|    21871| SAVE THE PLANET MUG|       6| 2010-01-12|     1.06|     17850|United Kingdom|
|   536373|    37370|RETRO COFFEE MUGS...|       6| 2010-01-12|     1.06|     17850|United Kingdom|
|   536373|   84029E|RED WOOLLY HOTTIE...|       6| 2010-01-12|     3.39|     17850|United Kingdom|
|   536375|   85123A|WHITE HANGING HEA...|       6| 2010-01-12|     2.55|     17850|United Kingdom|
|   536378|    21094|SET/6 RED SPOTTY ...|      12| 2010-01-12|     0.85|     14688|United Kingdom|
|   536378|   84997B|RED 3 PIECE RETRO...|      12| 2010-01-12|     3.75|     14688|United Kingdom|
|   536381|    21672|WHITE SPOT RED CE...|       6| 2010-01-12|     1.25|     15311|United Kingdom|
|   536381|    22644|CERAMIC CHERRY CA...|       1| 2010-01-12|     1.45|     15311|United Kingdom|
|   536384|    22469|HEART OF WICKER S...|      40| 2010-01-12|     1.45|     18074|United Kingdom|
|   536384|    82484|WOOD BLACK BOARD ...|       3| 2010-01-12|     6.45|     18074|United Kingdom|
|   536385|    22168|ORGANISER WOOD AN...|       2| 2010-01-12|      8.5|     17420|United Kingdom|
|   536385|    22783|SET 3 WICKER OVAL...|       1| 2010-01-12|    19.95|     17420|United Kingdom|
|   536389|    21791|VINTAGE HEADS AND...|      12| 2010-01-12|     1.25|     12431|     Australia|
|   536389|    22191|IVORY DINER WALL ...|       2| 2010-01-12|      8.5|     12431|     Australia|
|   536389|   35004G|SET OF 3 GOLD FLY...|       4| 2010-01-12|     6.35|     12431|     Australia|
+---------+---------+--------------------+--------+-----------+---------+----------+--------------+
only showing top 20 rows

In [20]:
# creating temperory table

df.createOrReplaceTempView("sales")

In [21]:
result = spark.sql("SELECT * FROM sales WHERE UnitPrice > 6.0")
result.show()

+---------+---------+--------------------+--------+-----------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-----------+---------+----------+--------------+
|   536365|    22752|SET 7 BABUSHKA NE...|       2| 2010-01-12|     7.65|     17850|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2| 2010-01-12|     9.95|     13047|United Kingdom|
|   536367|    21777|RECIPE BOX WITH M...|       4| 2010-01-12|     7.95|     13047|United Kingdom|
|   536367|    48187| DOORMAT NEW ENGLAND|       4| 2010-01-12|     7.95|     13047|United Kingdom|
|   536370|     POST|             POSTAGE|       3| 2010-01-12|       18|     12583|        France|
|   536373|    82486|WOOD S/3 CABINET ...|       4| 2010-01-12|     6.95|     17850|United Kingdom|
|   536373|    22752|SET 7 BABUSHKA NE...|       2| 2010-01-12|     7.65|     17850|United Kingdom|
|   536374|    21258|VICTORIAN SEWING ...|      32| 2010-01-12|    10.95|     15100|United Kingdom|
|   536375|    82486|WOOD S/3 CABINET ...|       4| 2010-01-12|     6.95|     17850|United Kingdom|
|   536375|    22752|SET 7 BABUSHKA NE...|       2| 2010-01-12|     7.65|     17850|United Kingdom|
|   536381|    21523|DOORMAT FANCY FON...|      10| 2010-01-12|     6.75|     15311|United Kingdom|
|  C536379|        D|            Discount|      -1| 2010-01-12|     27.5|     14527|United Kingdom|
|   536382|    22839|3 TIER CAKE TIN G...|       2| 2010-01-12|    14.95|     16098|United Kingdom|
|   536382|    22838|3 TIER CAKE TIN R...|       2| 2010-01-12|    14.95|     16098|United Kingdom|
|   536382|    22783|SET 3 WICKER OVAL...|       4| 2010-01-12|    16.95|     16098|United Kingdom|
|   536384|    82484|WOOD BLACK BOARD ...|       3| 2010-01-12|     6.45|     18074|United Kingdom|
|   536384|    21340|CLASSIC METAL BIR...|       2| 2010-01-12|    12.75|     18074|United Kingdom|
|   536384|    22428|ENAMEL FIRE BUCKE...|       6| 2010-01-12|     6.95|     18074|United Kingdom|
|   536384|    22424|ENAMEL BREAD BIN ...|       8| 2010-01-12|    10.95|     18074|United Kingdom|
|   536385|    22783|SET 3 WICKER OVAL...|       1| 2010-01-12|    19.95|     17420|United Kingdom|
+---------+---------+--------------------+--------+-----------+---------+----------+--------------+
only showing top 20 rows

In [22]:
# basic select queries 
df.select("InvoiceNo", "Country", "UnitPrice").show()

+---------+--------------+---------+
|InvoiceNo|       Country|UnitPrice|
+---------+--------------+---------+
|   536365|United Kingdom|     2.55|
|   536365|United Kingdom|     3.39|
|   536365|United Kingdom|     2.75|
|   536365|United Kingdom|     3.39|
|   536365|United Kingdom|     3.39|
|   536365|United Kingdom|     7.65|
|   536365|United Kingdom|     4.25|
|   536366|United Kingdom|     1.85|
|   536366|United Kingdom|     1.85|
|   536367|United Kingdom|     1.69|
|   536367|United Kingdom|      2.1|
|   536367|United Kingdom|      2.1|
|   536367|United Kingdom|     3.75|
|   536367|United Kingdom|     1.65|
|   536367|United Kingdom|     4.25|
|   536367|United Kingdom|     4.95|
|   536367|United Kingdom|     9.95|
|   536367|United Kingdom|     5.95|
|   536367|United Kingdom|     5.95|
|   536367|United Kingdom|     7.95|
+---------+--------------+---------+
only showing top 20 rows

In [23]:
# aggregate functions

#count
df.groupBy("Country").count().show()

+---------------+-----+
|        Country|count|
+---------------+-----+
|         Sweden|  462|
|      Singapore|  229|
|        Germany| 9495|
|         France| 8557|
|         Greece|  146|
|        Belgium| 2069|
|        Finland|  695|
|          Italy|  803|
|           EIRE| 8196|
|      Lithuania|   35|
|         Norway| 1086|
|          Spain| 2533|
|        Denmark|  389|
|      Hong Kong|  288|
|        Iceland|  182|
|         Israel|  297|
|Channel Islands|  758|
|         Cyprus|  622|
|    Switzerland| 2002|
|        Lebanon|   45|
+---------------+-----+
only showing top 20 rows

In [26]:
#sum

from pyspark.sql.functions import sum

df.groupBy("Country").agg(sum("Quantity").alias("Total Quantity")).show()

+---------------+--------------+
|        Country|Total Quantity|
+---------------+--------------+
|         Sweden|       35637.0|
|      Singapore|        5234.0|
|        Germany|      117448.0|
|         France|      110480.0|
|         Greece|        1556.0|
|        Belgium|       23152.0|
|        Finland|       10666.0|
|          Italy|        7999.0|
|           EIRE|      142637.0|
|      Lithuania|         652.0|
|         Norway|       19247.0|
|          Spain|       26824.0|
|        Denmark|        8188.0|
|      Hong Kong|        4769.0|
|        Iceland|        2458.0|
|         Israel|        4353.0|
|Channel Islands|        9479.0|
|         Cyprus|        6317.0|
|    Switzerland|       30325.0|
|        Lebanon|         386.0|
+---------------+--------------+
only showing top 20 rows

In [27]:
#avg

from pyspark.sql.functions import avg

df.groupBy("Country").agg(avg("UnitPrice").alias("AvgPrice")).show()

+---------------+------------------+
|        Country|          AvgPrice|
+---------------+------------------+
|         Sweden| 3.910887445887446|
|      Singapore|109.64580786026201|
|        Germany|3.9669299631384702|
|         France| 5.028864087881259|
|         Greece| 4.885547945205479|
|        Belgium|3.6443354277428748|
|        Finland| 5.448705035971222|
|          Italy| 4.831120797011209|
|           EIRE| 5.911077354807246|
|      Lithuania|2.8411428571428576|
|         Norway| 6.012025782688769|
|          Spain| 4.987544413738652|
|        Denmark|3.2569408740359904|
|      Hong Kong|42.505208333333336|
|        Iceland|2.6440109890109893|
|         Israel|3.6331313131313143|
|Channel Islands| 4.932124010554089|
|         Cyprus| 6.302363344051452|
|    Switzerland| 3.403441558441562|
|        Lebanon| 5.387555555555553|
+---------------+------------------+
only showing top 20 rows